@import "src/styles/variables";

.button {
  background: linear-gradient(262.53deg, #90FF12 -3.65%, #F9FC47 117.84%);
  box-shadow: 0 2px 22px 2px rgba(145, 243, 34, 0.34);
  border-radius: @br;
  height: 44px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: #141414;
  transition: 0.15s ease-in-out;

  &:active {
    box-shadow: none;
    transform: scale(0.98);
  }
}