.training {
  display: flex;
  gap: 22px;
  align-items: flex-start;
  padding: 47px 0;

  :global {
    .main-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      margin-bottom: 0;
      color: #141414;
    }
    .section-title {
      font-weight: 500;
      font-size: 22px;
      color: #141414;
      margin-bottom: 19px;
    }
    hr {
      border: 2px solid #F4F4F4;
      margin: 28px 0;
    }
    .training-content {
      flex: 1;

      .card-wrapper {
        padding: 23px 30px;
      }
    }
    .payment-summary {
      flex: 0 0 346px;

      .card-wrapper {
        padding: 20px;
        box-shadow: 0 20px 13px rgba(15, 14, 94, 0.035), 0 8.14815px 6.51852px rgba(15, 14, 94, 0.0274815), 0 1.85185px 3.14815px rgba(15, 14, 94, 0.0168519);
      }
    }
  }
}