.training {
  display: flex;
  gap: 22px;
  align-items: flex-start;
  padding: 47px 0;

  :global {
    .main-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      margin-bottom: 0;
      color: #141414;
    }
    .section-title {
      font-weight: 500;
      font-size: 22px;
      color: #141414;
      margin-bottom: 19px;
    }
    hr {
      border: 2px solid #F4F4F4;
      margin: 28px 0;
    }
    .training-content {
      flex: 1;

      .card-wrapper {
        padding: 23px 30px;
        margin-bottom: 48px;
      }
    }
    .payment-summary {
      flex: 0 0 346px;

      .card-wrapper {
        padding: 20px;
        box-shadow: 0 20px 13px rgba(15, 14, 94, 0.035), 0 8.14815px 6.51852px rgba(15, 14, 94, 0.0274815), 0 1.85185px 3.14815px rgba(15, 14, 94, 0.0168519);
      }

      .course-shorty {
        display: flex;
        align-items: center;
        gap: 22px;
        border-bottom: 3px dashed #F4F4F4;
        padding-bottom: 30px;

        span.icon {
          width: 28px;
          height: 28px;
          flex: 0 0 28px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background: #1C182E;
          border-radius: 3px;

          svg {
            width: 15px;
            color: #91F322;
          }
        }
        .short-desc {
          flex: 1;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.22;
          color: #141414;
        }
      }

      .total {
        margin-bottom: 18px;
        span {
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 54px;
          color: #141414;
        }
      }

      .methods {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
      }

      .actions {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .btn-secondary {
          gap: 12px;
        }

        svg {
          width: 24px;
        }
      }
    }
  }
}

.deposit-section {
  padding: 0 16px 16px;

  :global {
    .qr {
      margin: 0 0 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        display: inline-block;
        background-color: #fff;
      }
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 18px;

      .item {
        .key {
          font-weight: 500;
          font-size: 14px;
          color: #494949;
          margin-bottom: 4px;
        }
        .value {
          font-weight: 500;
          font-size: 12px;
          color: #141414;

          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
        }
      }
    }
    button.copy {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      transition: background-color 0.2s ease-in-out;

      svg {
        width: 12px;
      }
      &:hover {
        background-color: #eee;
      }
    }
  }
}