.header {
  background-color: #1C182E;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2e2e2e;
  position: fixed;
  top: 44px;
  width: 100%;
  z-index: 1;
  @media only screen and (max-width: 992px) {
    height: 86px;
    left: 0;
    right: 0;
  }

  :global {
    .content {
      .logo-link {
        @media only screen and (max-width: 992px) {
          width: 155px;
        }
      }
      .navs {
        .nav-link {
          color: #B9B9B9;
          &:hover {
            color: white;
          }
        }
      }
      .buttons {
        .register-btn {
          background: linear-gradient(262.53deg, #90FF12 -3.65%, #F9FC47 117.84%);
          border-radius: 4px;
          padding: 10px 20px;
          color: #141414;
        }
      }
    }
  }
}
.tape {

}
.ph {
  height: 152px;
  @media only screen and (max-width: 992px) {
    height: 86px;
  }
}

