.header {
  background-color: #1C182E;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2e2e2e;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  :global {
    .content {
      .main-logo {
      }
      .navs {
        .nav-link {
          color: #B9B9B9;
          &:hover {
            color: white;
          }
        }
      }
      .buttons {
        .register-btn {
          background: linear-gradient(262.53deg, #90FF12 -3.65%, #F9FC47 117.84%);
          border-radius: 4px;
          padding: 10px 20px;
          color: #141414;
        }
      }
    }
  }
}
.ph {
  height: 108px;
}
