@import "src/styles/variables";

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: @br;
    padding: 0 14px;
    color: #0F1820;
    gap: 10px;
    position: relative;

    & > * {
        color: #0F1820;
    }

    input {
        padding: 14px 0;
        flex: 1;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        &:focus {
            outline: none;
            box-shadow: none;
            border: none;
        }
    }

    :global {
        .prefix, .suffix {
            display: inline-flex;
            max-height: 50px;
            min-height: 20px;
            min-width: 20px;
            align-items: center;
            justify-content: center;
        }

        .error {
            position: absolute;
            width: 100%;
            color: #f95050;
            bottom: 0;
            left: 0;
            font-size: 12px;
            transform: translateY(calc(100% + 3px));
        }
    }
}

.label {
    font-family: 'Bull', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: @line-height;
    margin-bottom: 8px;
    display: inline-block;
}