.input {
    background-color: #fff;
    border-radius: 10px;
    color: #0F1820;
    padding: 14px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    &:focus {
        outline: none;
        box-shadow: none;
        border: none;
    }
}