@import "src/styles/variables";

.register {
  width: 395px;
  :global {
    .inputs {
      margin-bottom: 14px;
      .full_name {
        display: flex;
        gap: 18px;
        width: 100%;
        margin-bottom: 24px;
        .fn,
        .ln {
          flex: 1;
        }
      }

      .input-comp {
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: 24px;
        }
      }
      .forget-password {
        color: @primary;
        float: right;
        margin: 8px 0 30px;
        font-size: 10px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      & ~ * {
        clear: both;
      }
    }
    .terms-cond {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      cursor: pointer;
      user-select: none;
      gap: 4px;

      .check {
        width: 12px;
        height: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: @br-sm;
        background-color: #fff;
        position: relative;

        svg {
          width: 8px;
          z-index: 1;
        }

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: @primary;
          border-radius: @br-sm;
          transform: scale(0);
          transition: transform 0.2s ease-in-out;
        }

        &.checked:before {
          transform: scale(1);
        }
      }
      .term {
        font-weight: 400;
        font-size: 10px;
        color: #fff;

        a {
          color: #91F322;
        }
      }
    }
  }
}
.success {
  width: 395px;
  :global {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
      margin-top: 30px;
    }
  }
}