
@tailwind base;

a {
    @apply text-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
    @apply my-6;
}

.content ul {
    @apply my-6;
}


.container, .container-fluid {
    padding-left: 8px;
    padding-right: 8px;
    margin: auto;
}
@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
    .col-lg-1-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-xl-1-7 {
        flex: 0 0 14.28%;
        max-width: 14.28%;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
    }
}
