
@base-gradient: linear-gradient(262.53deg, #90FF12 -3.65%, #F9FC47 117.84%);
@primary-color: #91F322;
@border-radius: 4px;
@border-radius-small: 2px;
@border-radius-large: 8px;
@border-radius-middle: 6px;
@line-height: 1.25;

// short variables
@br: @border-radius;
@br-sm: @border-radius-small;
@br-lg: @border-radius-large;
@br-md: @border-radius-middle;
@primary: @primary-color;