.success {
  width: 395px;
  :global {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
      margin-top: 30px;
    }
  }
}