@import "src/styles/variables";

.mainBanner {
  height: 554px;
  position: relative;
  :global {
    .meta {
      position: absolute;
      top: 28%;
      left: 20%;
      .main-title {
        font-weight: 700;
        font-size: 85px;
        background: linear-gradient(262.53deg, #90FF12 -3.65%, #F9FC47 117.84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 12%;
      }
      .buttons {
        .register-btn {
          background: linear-gradient(262.53deg, #90FF12 -3.65%, #F9FC47 117.84%);
          border-radius: 4px;
          padding: 10px 20px;
          color: #141414;
        }
        .download-btn {
          border-radius: 4px;
          padding: 10px 14px;
        }
        .btn-text {
          color: #141414;
        }
      }
    }
  }
}
.onlineCourse {
  background: #f6f8fd;
  padding: 66px 0;

  :global {
    .o-subtitle {
      font-weight: 700;
      font-size: 16px;
      line-height: 1;
      color: #b9b9b9;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    .o-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      color: #141414;
      margin-bottom: 33px;
      text-transform: uppercase;
    }
    .course-container {
      background-color: #ffffff;
      padding: 33px 52px 27px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 33px;
      .course-list {
        display: flex;
        justify-content: space-between;
        gap: 148px;

        .course-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          gap: 29px;

          span.icon {
            background: #1c182e;
            border-radius: 3px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
          }

          .course-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #141414;
            margin-bottom: 11px;
          }

          .course-desc {
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #494949;
            margin-bottom: 0;
            min-height: 96px;
          }

          &:not(:last-of-type) {
            &:after {
              content: '';
              position: absolute;
              background-color: rgba(185, 185, 185, 0.6);
              width: 1px;
              height: 100%;
              right: -74px;
              top: 0;
            }
          }
        }
      }
    }
  }
}
.ourVision {
  height: 582px;
  position: relative;
  :global {
    .content {
      position: relative;
      padding-top: 117px;
      .c-subtitle {
        background: -webkit-linear-gradient(262.53deg, #90FF12 -3.65%, #F9FC47 117.84%);;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .c-title {
        font-weight: 700;
        font-size: 24px;
        color: #fff;
      }
      .para {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        max-width: 604px;
        text-align: justify;
      }
    }
  }
}
.stats {
  :global {
    .stats-body {
      padding-top: 106px;
      .s-subtitle {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        color: #B9B9B9;
        margin-bottom: 5px;
      }
      .s-title {
        font-weight: 700;
        font-size: 24px;
        color: #141414;
        margin-bottom: 82px;
      }
      .stat-els {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 159px;
        .stat {
          display: flex;
          align-items: center;
          .stat-meta {
            .stat-amount {
              font-weight: 700;
              font-size: 40px;
              color: #141414;
            }
            .stat-label {
              font-weight: 500;
              font-size: 20px;
              color: #494949;
            }
          }
        }
      }
    }
  }
}
