.forget-password {
  width: 395px;
  :global {
    .inputs {
      margin-bottom: 39px;
      .input-comp {
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: 24px;
        }
      }
    }
  }
}
.success {
  width: 395px;
  :global {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
      margin-top: 30px;
    }
  }
}